* {
    box-sizing: border-box;
  }
  body {
    background: #f3fa9583;
    color: rgb(30, 36, 20);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
  }
  .container {
    margin: auto;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .flex {
    display: flex;
  }
  input,
  button {
     border: 1px solid rgb(151, 149, 149); 
    border-radius: 20px;
    font-size: 20px;
    padding: 8px 10px;
    margin-left: 10px;

  }
  input[type="text"] {
    width: 300px;
  }
  .search-btn {
    cursor: pointer;
    border-radius:20px ;
    color: rgb(241, 106, 15);
  }

  #image{
      width: 100px;
      margin-top: 10px;
      
  }
  .meals{
      display:grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 20px;
      margin-top: 10px;
  }
  .meal{
      cursor: pointer;
      position: relative;
      height: 180px ;
      width : 180px;
      text-align: center;

  }
  .meal img{
      width: 100%;
      height: 100%;
      border: 4px solid rgb(77, 41, 41);
      border-radius: 2px;
  }
  .meal-info{
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.486);
      display: flex;
      width: 100%;
      height: 100%;
      align-items:flex-end;
      justify-content: center;
      color: rgb(255, 255, 255);
      text-align: center;
      transition: opacity 0.2s ease-in;
      opacity: 0;
  }
  .meal:hover .meal-info{
    opacity: 1;
  }